<template>
  <div
    :style="{ backgroundImage: `url(${bgimg})` }"
    class="bg-cover bg-no-repeat w-screen h-screen"
  ></div>
</template>
<script setup lang="ts">
import bgimg from "../../assets/images/bg-main3.jpeg";
</script>
