<script setup lang="ts">
import { Close, List, ChevronForward } from "@vicons/ionicons5";
import { reactive, ref } from "vue";

const isActiveIcon = ref(false);

const isActiveListChild = ref(0);

function allServicesBtnClick() {
  isActiveIcon.value = !isActiveIcon.value;
}

const servicesData = reactive([
  {
    label: "Поддержка",
    data: [
      { label: "Навигатор мер поддержки", route: "/" },
      { label: "Навигатор мер поддержки 2", route: "/" },
      { label: "Навигатор мер поддержки 3", route: "/" },
    ],
  },
  {
    label: "Проекты",
    data: [
      { label: "Навигатор мер поддержки", route: "/" },
      { label: "Навигатор мер поддержки 2", route: "/" },
      { label: "Навигатор мер поддержки 3", route: "/" },
    ],
  },
  {
    label: "Предприятие",
    data: [
      { label: "Навигатор мер поддержки", route: "/" },
      { label: "Навигатор мер поддержки 2", route: "/" },
      { label: "Навигатор мер поддержки 3", route: "/" },
    ],
  },
  {
    label: "Каталоги",
    data: [
      { label: "Навигатор мер поддержки", route: "/" },
      { label: "Навигатор мер поддержки 2", route: "/" },
      { label: "Навигатор мер поддержки 3", route: "/" },
    ],
  },
  { label: "Ситуационный центр", data: [] },
  { label: "Торговая площадька", data: [] },
]);
const servicesChildData = ref();

function servicesListClick(val: Object, idx: number) {
  servicesChildData.value = val;
  isActiveListChild.value = idx;
}

servicesListClick(servicesData[0].data, 0);
</script>
<template>
  <div class="flex flex-col fixed top-0 w-full">
    <div class="bg-white border-b border-[#f1f3f3] py-4 <lg:py-3">
      <div class="container mx-auto px-0 <lg:px-2">
        <button
          class="flex gap-1 items-center border border-[#f1f3f3] px-3 py-1.5 rounded-md text-[1rem] hover:border-white transition ease-in-out active:border-[#00B3A8]"
          @click="allServicesBtnClick"
        >
          <n-icon class="text-2xl <lg:text-xl text-[#00B3A8]">
            <Close v-if="isActiveIcon" />
            <List v-else />
          </n-icon>
          <span
            class="font-semibold transition ease-in-out"
            :class="{ 'text-[#00B3A8]': isActiveIcon }"
            >Все модуль</span
          >
        </button>
      </div>
    </div>
    <div class="relative">
      <n-collapse-transition
        :show="isActiveIcon"
        class="bg-[#F8F9FA] fixed w-full"
      >
        <div class="container mx-auto flex flex-col">
          <div class="flex py-3 <lg:flex-col">
            <div
              class="w-1/4 <lg:(w-full border-r-0 border-b pr-2 pl-2 pb-2) border-r flex flex-col gap-2 pr-3"
            >
              <button
                :class="{ 'bg-white': idx == isActiveListChild }"
                v-for="(item, idx) in servicesData"
                :key="idx"
                @click="servicesListClick(item.data, idx)"
                class="w-full hover:bg-white rounded-md py-2 flex items-center justify-between px-2 hover:text-[#00B3A8] transition ease-in-out"
              >
                <span class="text-left">{{ item.label }}</span>
                <n-icon class="text-xl">
                  <ChevronForward />
                </n-icon>
              </button>
            </div>
            <div class="w-3/4 <lg:(w-full pt-2) px-4 flex flex-col gap-3">
              <button
                v-for="(item, idx) in servicesChildData"
                :key="idx"
                class="w-full flex items-center justify-between px-2 hover:text-[#00B3A8] transition ease-in-out"
              >
                <span class="text-left">{{ item.label }}</span>
              </button>
            </div>
          </div>
        </div>
      </n-collapse-transition>
    </div>
  </div>
</template>
