<template>
  <component :is="detectLayout">
    <RouterView />
  </component>
</template>
<script lang="ts" setup>
import { computed } from "vue";
import { useRoute } from "vue-router";

import LDefault from "@/layouts/Default.vue";
import LMain from "@/layouts/Main.vue";

const layouts: { [key: string]: any } = {
  default: LDefault,
  main: LMain,
};

const route: any = useRoute();

const detectLayout = computed(() => {
  return layouts[route.meta.layout || ("main" as string)];
});
</script>
