<template>
  <div name="routerChange">
    <Header />
    <RouterView v-slot="{ Component }">
      <Transition name="page-slide" mode="out-in">
        <component :is="Component"></component>
      </Transition>
    </RouterView>
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from "vue-router";
import Header from "../components/Header.vue";

const route = useRoute();
</script>

<style>
.page-slide-enter-active,
.page-slide-leave-active {
  transition: 600ms ease all;
}

.page-slide-enter-from,
.page-slide-leave-to {
  opacity: 0;
  transform: translateY(60px);
}
</style>
